<!DOCTYPE html>
<html>

<head>
  <title>Uusi viite</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script>
    function showFields() {
      const type = document.getElementById('reference_type').value;
      const allFields = document.querySelectorAll('.field-group');
      allFields.forEach(f => f.style.display = 'none');

      if(type === 'Book') {
        document.getElementById('book_fields').style.display = 'block';
      } else if(type === 'Article') {
        document.getElementById('article_fields').style.display = 'block';
      } else if(type === 'Inproceedings') {
        document.getElementById('inproceedings_fields').style.display = 'block';
      }
    }
    window.onload = function() {
    showFields();
    };
  </script>
</head>

<body>
  <form action="/add_reference" method="post">
    {{ form.hidden_tag() }}
   
    <p>
      Valitse viitteen tyyppi: <br />
      {{ form.reference_type(id="reference_type", onchange="showFields()") }}
    </p>

    <div id="book_fields" class="field-group" style="display:none;">
      <div class="field-row"><label for="key">KEY:</label>{{ form.key() }}</div>
      <div class="field-row"><label for="author">Author:</label>{{ form.author() }}</div>
      <div class="field-row"><label for="title">Title:</label>{{ form.title() }}</div>
      <div class="field-row"><label for="year">Year:</label>{{ form.year() }}</div>
      <div class="field-row"><label for="publisher">Publisher:</label>{{ form.publisher() }}</div>
    </div>

    <div id="article_fields" class="field-group" style="display:none;">
      <div class="field-row"><label for="key">KEY:</label>{{ form.key() }}</div>
      <div class="field-row"><label for="author">Author:</label>{{ form.author() }}</div>
      <div class="field-row"><label for="title">Title:</label>{{ form.title() }}</div>
      <div class="field-row"><label for="journal">Journal:</label>{{ form.journal() }}</div>
      <div class="field-row"><label for="year">Year:</label>{{ form.year() }}</div>
      <div class="field-row"><label for="volume">Volume:</label>{{ form.volume() }}</div>
      <div class="field-row"><label for="pages">Pages:</label>{{ form.pages() }}</div>
    </div>

    <div id="inproceedings_fields" class="field-group" style="display:none;">
      <div class="field-row"><label for="key">KEY:</label>{{ form.key() }}</div>
      <div class="field-row"><label for="author">Author:</label>{{ form.author() }}</div>
      <div class="field-row"><label for="title">Title:</label>{{ form.title() }}</div>
      <div class="field-row"><label for="year">Year:</label>{{ form.year() }}</div>
      <div class="field-row"><label for="booktitle">Booktitle:</label>{{ form.booktitle() }}</div>
    </div>

    <input class="button" type="submit" value="Lisää viite" />
  </form>

  <a class="button" href="/">Takaisin etusivulle</a>
</body>

</html>