<!DOCTYPE html>
<html>
<head>
    <title>Sourcemanager - lähdeviitearkisto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Sourcemanager - Lähdeviitearkisto</h1>
    <div class="button-container">
        <a class="button" href="/add_reference">Lisää viite</a>
        <a class="button" href="/reference_list">Listaa kaikki viitteet</a>
        <a class="button" href="/search">Hae arkistosta</a>
    </div>
</body>
 

</body>

</html>