<!DOCTYPE html>
<html>

<head>
  <title>Viitteet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Kaikki viitteet</h1>
    <div class="button-container">
      <a class="button" href="/">Takaisin etusivulle</a>
      <a class="button" href="/reference_list/download">Lataa kaikki viitteet</a>
    </div>
    
    <ul class="references-list">
        {% for ref in references %}
        <li>
          <a href="/reference/{{ ref.key }}">
            {{ref.author}}: {{ref.title}}, {{ref.year}}, DOI {{ref.doi}}
          </a>
            
            {% if ref.__class__.__tablename__ == "Artikkeli_viite" %}
              <form action = "{{ url_for('delete_reference', key = ref.key, model='artikkeli') }}"
                method = "POST" style = "display:inline;">

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Haluatko varmasti poistaa tämän viitteen?')">
                  Poista
                </button>
              </form>
            {% endif %}

            {% if ref.__class__.__tablename__ == "Kirja_viite" %}
                <form action = "{{ url_for('delete_reference', key = ref.key, model='kirja') }}"
                  method = "POST" style = "display:inline;">

                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Haluatko varmasti poistaa tämän viitteen?')">
                    Poista
                  </button>
                </form>
            {% endif %}

            {% if ref.__class__.__tablename__ == "Konferenssijulkaisu_viite" %}
                <form action = "{{ url_for('delete_reference', key = ref.key, model='konferenssi') }}"
                  method = "POST" style = "display:inline;">

                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Haluatko varmasti poistaa tämän viitteen?')">
                    Poista
                  </button>
                </form>

            {% endif %}

        </li>
        {% endfor %}
    </ul>
</body>
</html>
