.button-container {
    display: flex;           
    justify-content: center; 
    gap: 20px;               
    margin-top: 20px;        
}

.button {
    display: block; 
    padding-left: 10px; 
    margin: 5px 0; 
    border: 1px solid #000; 
    text-align: center; 
    text-decoration: none; 
    color: #000; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
    width: 150px;
}

.button:hover {
    background-color: #ddd; 
} 

h1 {
    text-align: center;
}